<!DOCTYPE html>
<html>
<head>
{% load static %}
{% load widget_tweaks %}
	<title>Update Profile</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/editprofile.css' %}">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:900" rel="stylesheet">
<style type="text/css">
        .fa-search:before{
            color: white ;
        }
    </style>
</head>
<body>
<header class="header navbar-fixed-top">
              <nav class="navbar" role="navigation">
                <div class="container">
                      <div class="menu-container js_nav-item">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                          <div class="logo">
                            <a class="logo-wrap" href="{% url 'letsdine:index' %}">
                                <div class="logo_1" style="font-family: 'Satisfy', cursive;font-size: 35px; color: white">Let's Dine!</div>
                            </a>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse nav-collapse">
                    
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-right">
                            <li class="js_nav-item nav-item">
                                

<div id="myModal" class="modal fade" role="dialog" style="z-index: 2000! important;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notifications</h4>
      </div>
      <div class="modal-body">
        <p>
            <div class="alert alert-success">
  <strong>User1</strong> wants to join you &nbsp;&nbsp;&nbsp;<button class="btn btn-success">Approve</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-danger">Reject</button>

</div>
<div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
<div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>
{% for plan, x in myplanz %}
<div id="{{ plan.id }}-my" class="modal fade" role="dialog" style="z-index: 2000! important;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Plan Details</h4>
      </div>
      <div class="modal-body">
         <p style="font-style: 'Catamaran', sans-serif;font-size: 20px;font-weight: bolder;">Following People are going {{ x.address}} on {{ plan.going_time }}<br>
        {% for user in plan.other_users.all %}
        <ul>
        <li> <a href="{% url 'letsdine:profile' user.username %}"">{{ user.first_name }}  {{ user.last_name }}</a> </li></ul>
        {% endfor %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endfor %}



                           </li>
                           <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" title="Add plan" href="{% url 'letsdine:add_plan' %}" style="font-family: 'Catamaran', sans-serif;font-size: 20px; line-height: 97px;width: 97px;color: white; "><center><i class="fa fa-plus" aria-hidden="true"></i></center>
</a></li>

                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'letsdine:dashboard' %}" style="font-family: 'Catamaran', sans-serif;font-size: 20px; line-height: 97px;width: 97px;color: white; "><center><i class="fa fa-home" aria-hidden="true"></i></center>
</a></li>
<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'letsdine:search' %}" style="font-family: 'Catamaran', sans-serif;font-size: 20px; line-height: 97px;width: 97px;color: white; "><center><i class="fa fa-search" aria-hidden="true"></i></center>
</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'letsdine:profile' request.user.username %}" style="font-family: 'Catamaran', sans-serif;font-size: 20px"><img src="{{ user.userprofile.display_pic.url }}" width="97px" height="97px"></a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'letsdine:logout' %}" style="font-family: 'Catamaran', sans-serif;font-size: 20px; line-height: 97px;width: 97px;color: white; "><center><i class="fa fa-sign-out" aria-hidden="true"></i></center>
</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            </header>
            <div class="row" style="height: 97px;"></div>
<div class="wrapper">
    <div class="row" style="background-color: lightgrey;">
        <div class="col-sm-3" style="background-color: #232b2d" >
        <div class="row">
            <div class="welcome" style="height: 150px;">
                <div class="row" style="height: 30px;"></div>
                <div class="row"><center><img src="https://i.pinimg.com/originals/63/19/ef/6319ef2f3fc88c94b14bb3fdeddca4a5.jpg" width="50px" height="50px" style="border-radius: 50%;"></center></div><br>
                <div class="row" style=" color: white; font-style: 'Catamaran', sans-serif;font-size: 20px;font-weight: bolder;"><center>WELCOME</center></div>

            </div>
        </div>
        <hr>
        <br>
        <br>
            <div class="row" >
                <div class="col-sm-2"></div>
                <div class="col-sm-8" class="" style="height: 500px; overflow: scroll;">
                    {% for plan, x in myplanz %}
                <a data-toggle="modal" data-target="#{{ plan.id }}-my">
                    <div class="myplan" style="cursor: pointer;">

                    <div class="myplan1"> 
                       <center> Going {{ x.address}} on {{ plan.going_time }} . {{ plan.other_users.count }} people interested.</center> 
                        </div><br>
                        <center><a href="{% url 'letsdine:cancelplan' plan.id %}"><button class="btn btn-danger">Cancel Plan</button></a></center>
                    </div><br>
                    </a>
                    {% endfor %}
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <br>
        <br>
        <br><br>
        <div class="col-sm-9">
            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                   <div class="card">
                            <div class="content">
                                <form method="post" enctype = "multipart/form-data" action=".">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Occupation</label>
                                                <input type="text" class="form-control" placeholder="Occupation" value="{{profile.occupation}}" name="city_name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                                <input type="number" class="form-control" placeholder="+91" value="{{profile.contact_no}}" name="contact_no">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control" placeholder="City" value="{{profile.city_name}}" name="city_name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Gender</label><br>
                                                 <select class="form-control" id="id_gender" name="gender" value="{{profile.gender}}">
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="O">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Age</label>
                                                <input type="number" class="form-control" placeholder="18" name="age" value="{{profile.age}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Interests</label>
                                                {{ form.intrests }}

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Profile Picture</label>
                                                {{ form.display_pic }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Facebook Link</label>
                                                <input type="url" class="form-control" placeholder="Facebook Username" 
                                                name="fb_link" value="{{profile.fb_link}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Instagram Link</label>
                                                <input type="url" class="form-control" placeholder="Instagram Username" name="insta_link" value="{{profile.insta_link}}" >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Twitter Link</label>
                                                <input type="url" class="form-control" placeholder="Twitter Username" name="twitter_link" value="{{profile.twitter_link}}" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Short Bio</label>
                                                <textarea rows="5" class="form-control" placeholder="Here can be your description" value="{{ form.about_you }}">Lamborghini Mercy, I'm in that two seat Lambo.</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <center><button class="btn btn-info">Submit</button></center>
                                </form>
                            </div>
                        </div>
                </div>
                <br>
                <div class="col-sm-1"></div>

            </div>
        </div>
    </div>
</div>
<footer>
    <div class="row">
    <div class="col-sm-6">
        <center><div style="font-family: 'Satisfy', cursive;font-size: 45px; color: white;">Let's Dine!</div></center>
        </div>
        <div class="col-sm-6">
            <div style="font-family: 'Catamaran', sans-serif; font-size: 35px; color: white;">Made By Team - The Shinigamis</div>
        </div>
    </div>
</footer>
<script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>
</body>
</html>